:root {
    font-size: 20px;
    --bg-primary: #633b3f;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
    color: white;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100%;
    padding-bottom: 15rem;
    background-color: #3f2323;
    font-family: 'Karla', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #000000;
}

main {
    margin-top: 2rem;
    padding: 1rem;
    padding-bottom: 15rem;
}

.navbar {
    overflow: hidden;
    height: 5rem;
    width: 100%;
    position: relative;
    background-color: var(--bg-primary);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
}

.Icon_Button {
    margin: auto;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.Profile_Button {
    transition: 125ms ease;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto
}

.Navbar_Icon_JobList {
    transition: 125ms ease;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto
}

.Marketplace_Button {
    transition: 125ms ease;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto
}

.Marketplace_Button:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.Marketplace_Button:active {
    transform: translateY(8px);
}

.Profile_Button:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.Profile_Button:active {
    transform: translateY(8px);
}

.Navbar_Icon_JobList:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.Navbar_Icon_JobList:active {
    transform: translateY(8px);
}

.Icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item:last-child {
    margin-top: auto;
}

*.footer {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.infobar-copyright {
    font-size: 17px;
    color: gray;
    text-align: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: var(--bg-primary);
}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .logo_container {
    width: 30%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .logo_container img {
    width: 65px;
    height: auto;
}

.inner_footer .footer_third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer .footer_third:last-child {
    margin-right: 0;
}

.inner_footer .footer_third h2 {
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_third a {
    color: #cccccc;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
    transition: 125ms ease;
}

.inner_footer .footer_third a:hover {
    color: white;
}

.icon-footer {
    width: 50px;
    position: relative;
    flex-flow: flex-start;
    transition: 125ms ease;
}

.icon-footer:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

@media(max-width: 600px) {
    body {
        padding-bottom: 40rem;
    }
    .footer .inner_footer {
        width: 90%;
    }
    .inner_footer .logo_container,
    .inner_footer .footer_third {
        width: 100%;
        margin-bottom: 30px;
    }
}