:root {
    font-size: 20px;
    --bg-primary: #633b3f;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    position: relative;
    color: white;
    background-color: white;
    margin: 0;
    padding: 0;
    min-height: 100%;
    padding-bottom: 10rem;
    background-color: #3f2323;
    font-family: 'Karla', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #000000;
}

main {
    margin-top: 2rem;
    padding: 1rem;
}

.navbar {
    overflow: hidden;
    height: 5rem;
    width: 100%;
    position: relative;
    background-color: var(--bg-primary);
}

.infobar {
    color: #dbdbdb;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--bg-primary);
    text-align: center;
}

.infobar-copyright {
    font-size: 17px;
    color: gray;
    text-align: right;
}

.infobar-social {
    text-align: left;
}

.infobar-link:hover {
    color: white;
}

.twitter {
    width: 50px;
    position: relative;
    flex-flow: flex-start;
    transition: 125ms ease;
}

.twitter:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.discord {
    width: 50px;
    position: relative;
    flex-flow: flex-start;
    transition: 125ms ease;
}

.discord:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.twitter:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
}

.Icon_Button {
    width: 100px;
}

.Profile_Button {
    transition: 125ms ease;
}

.Navbar_Icon_JobList {
    transition: 125ms ease;
}

.Marketplace_Button {
    transition: 125ms ease;
}

.Marketplace_Button:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.Profile_Button:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.Navbar_Icon_JobList:hover {
    filter: brightness(85%);
    display: inline-block;
    background-size: cover;
}

.Icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item:last-child {
    margin-top: auto;
}